body {
    color: #000;
}

.container {
    display: inline-flex;
    align-items: center;
    justify-items: center;
}

.suburb {
    font-size: 16px;
    font-weight: 600;
    margin-right: 16px;
}

.searchBox {
    width: 100%;
    display: inline-flex;
}

.autoComplete {
    width: 100%;
    max-width: 600px;
    position: relative;
}

@media (min-width: 600px) {
    .autoComplete {
        width: 600px;
    }
}
